@charset "UTF-8";

$stack-header-height: 46px;

.simple-stack {
  position: relative;
  width: 962px;
  margin: 0 auto;

  // prevent margin collapsing
  &:before {
    content:"";
    display:table;
    clear:both;
  }

  .page {
    width: 960px;
    min-height: 600px;
    border: 1px solid #dbdfd6;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    background: #ffffff;
    opacity: 1;
    position: relative;
    transform: none;
    -webkit-transform: none;
    transform-origin: 50% 0 0;
    -webkit-transform-origin: 50% 0 0;

    &.pjax-loading {
      min-height: 9999px;
    }

    &.page-behind {
      border: 1px solid #dddddd;
      background: #f9f9f9;
      transform: scale(0.985);
      -webkit-transform: scale(0.985);
      box-shadow: 0 -1px 2px rgba(0,0,0,0.05);
      position: absolute;
      top: 0;
      left: 0;
    }

    & > a.link-page-behind {
      display: block;
      padding: 0 30px;
      line-height: $stack-header-height;
      line-height: $stack-header-height;
      font-size: 18px;
      color: #888888;
      background: #f9f9f9;

      &:hover {
        background: #ffffff;
      }
    }

    &.transition-start {
      /*opacity: 0;*/
      /*transform: scale(1.05);*/
      /*-webkit-transform: scale(1.05);*/
    }

    &.page-root.page-behind {
      top: 2px;
    }

    @for $i from 1 through 10 {
      &.page-#{$i} {
        top: 0;
        margin-top: $stack-header-height * $i;

        &.page-behind {
          top: $stack-header-height * $i + 2px;
          margin-top: 0;
        }
      }
    }
  }

  &.simple-stack-fluid {
    width: auto;

    .page {
      width: auto;
      border: none;
      box-shadow: none;
      background: none;
    }
  }

  &.simple-stack-transition .page {
    transition-property: top, margin-top, opacity, transform, box-shadow, border-color;
    transition-duration: 200ms;
    -webkit-transition-property: top, margin-top, opacity, -webkit-transform, box-shadow, border-color;
    -webkit-transition-duration: 200ms;
  }
}

